body {
  padding-bottom: 30px;
}

#screen-snippet-test-preview {
  display: none;
  margin: 20px auto;
  box-shadow: 0px 0px 36px 5px rgba(0, 0, 0, 0.4);
}

#screen-snippet-test-error {
  font-style: italic;
}

#event-log {
  height: 300px;
  overflow: auto;
}
