<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/9.11.0/styles/default.min.css">
  <script src="https://cdn.jsdelivr.net/highlight.js/9.11.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link rel="stylesheet" href="/ContainerJS/styles/main.css">
</head>
<body data-spy="scroll" data-target="#docs-menu" data-offset="150">
  <div class="container">
    {% include navigation.html %}
    {% if page.id == 'home' %}
      <div class="jumbotron">
        <div class="row flex-column-reverse flex-xl-row">
          <div class="container col-xl-6">
            <h1 class="display-4 text-center text-lg-left">Web apps don't just run in browsers.</h1>
            <p class="lead text-center text-lg-left">
              Target OpenFin, Electron and other containers from a single codebase. This project contains the current work-in-progress
              Symphony Desktop Wrapper. The goal of this project is to provide a common API across multiple HTML5 containers.
            </p>
          </div>
          <div class="container col-xl-6">
            <img id="main-image" src="img/Hero Graphic.svg" />
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-lg-4 tagline">
          <img class="secondary-image" src="img/API Graphic.svg" />
          <h5 class="tagline-header">Unified API</h5>
          <p>ContainerJS provides an abstraction layer, rather than using the underlying container APIs (OpenFin, Electron), you use the ContainerJS APIs.</p>
        </div>
        <div class="col-lg-4 tagline">
          <img class="secondary-image" src="img/Desktop Graphic.svg" />
          <h5 class="tagline-header">Desktop Intergration</h5>
          <p>Desktop containers allow HTML5 application to run outside of the browser, allowing a deeper, more intergrated experience.</p>
        </div>
        <div class="col-lg-4 tagline">
          <img class="secondary-image" src="img/Distribution Graphic.svg" />
          <h5 class="tagline-header">Bootstrapping &amp; Distribution</h5>
          <p>ContainerJS provides a uniform mechanism for distributing applications, with web-based distribution and an application manifest.</p>
        </div>
      </div>

      <hr/>
    {% endif %}

    {{ content }}

    <script src="/ContainerJS/js/main.js"></script>
  </div>
</body>
</html>
