---
layout: default
sectionid: docs
---

<section class="content row mr-0 ml-0">
<div class="list-group col-3">
<a {% if page.id == 'AppApi' %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/ContainerJS/docs/App">App API</a>
<a {% if page.id == 'MessageServiceApi' %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/ContainerJS/docs/MessageService">MessageService API</a>
<a {% if page.id == 'NotificationOptionsApi' %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/ContainerJS/docs/NotificationOptions">NotificationOptions API</a>
<a {% if page.id == 'ScreenSnippetApi' %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/ContainerJS/docs/ScreenSnippet">ScreenSnippet API</a>
<a {% if page.id == 'WindowApi' %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/ContainerJS/docs/Window">Window API</a>
<a {% if page.id == 'IRectangleApi' %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/ContainerJS/docs/IRectangle">IRectangle API</a>
<a {% if page.id == 'IWindowApi' %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/ContainerJS/docs/IWindow">IWindow API</a></div>
<div class="doc-body pl-2 pt-2 col-9">
{{ content }}
</div>
</section>