body {
  background-color: #FCFCFC;
  padding-top: 65px;
  position: relative;
  overflow: visible;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2 {
  color: #5A5886;
  font-weight: 700;
}

h1 {
  padding: 0px;
  margin: 0px;
}

h2 {
  padding: 0px;
  margin: 24px 0px;
  font-size: 28px;
}

h3 {
  margin-bottom: 24px;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
}

h4 {
  margin-top: 32px;
}

section > h4 {
  margin: 0px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

h5 {
  padding: 10px 0px;
  margin: 0px;
  font-weight: 700;
  font-size: 16px;
}

p {
  margin-bottom: 5px;
}

br {
  line-height: 35px;
}

.lead {
  margin-top: 12px;
}

.code, pre, .code-small {
  font-family: monospace;
  white-space: pre;
  background-color: #eee;
  display: inline-block;
  padding: 10px 10px;
  margin: 5px 0;
  font-weight: 500;
  font-size: 90%;
}

.code, pre {
  width: 100%;
}
pre .hljs {
  background-color: transparent;
  padding: 0;
}
pre .hljs .nx {
  color: #5A5886;
}
pre .hljs .hljs-built_in {
  color: #A0A039;
}
pre .hljs .hljs-comment {
  color: #39A000;
}

.method {
  padding-bottom: 32px;
  position: relative;
}

.property {
  padding-bottom: 32px;
  position: relative;
}

.navbar-light .navbar-nav .nav-link, .tagline-header, .navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: #5A5886;
}

.navbar-brand {
  font-weight: 800;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  background-color: transparent;
  padding: 32px 0px;
}

#main-image {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

.navbar {
  background-color: #FCFCFC;
  position: fixed !important;
  top: 0px;
  width: inherit;
  padding: 8px 0px !important;
  z-index: 1000;
  clear: both;
}

#nav-container {
  margin: 0px;
  padding: 0px;
}

.list-item {
  display: block;
  margin: 10px;
  padding: 3px;
  padding-left: 10px;
  border-left: 3px solid transparent;
}

.nav-link {
  color: #AAA6A6;
  margin-left: 32px;
}

.nav-link:hover {
  color: #5A5886;
}

.nav-link.active {
  color: #5A5886;
  border-left: 3px solid #5A5886;
}

.nav-brand {
  width: 25px;
  height: 25px;
}

#docs-menu {
  position: fixed;
  top: 64px;
  bottom: 0px;
  overflow-y: auto;
  display: inline-block;
  padding-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.docs-title:before {
  content:"";
  display: block;
  height: 32px;
  margin: -8px 0 0;
}

div > section {
  border-bottom: solid 1px #e2e2e2;
}

section.methods, section.contructors, section.properties {
  margin-bottom: 20px;
}

.test-results {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  cursor: pointer;
}
.test-results::before {
  content: '>';
  display: inline-block;
  font-weight: bold;
  color: #bebebe;
  vertical-align: bottom;
  margin-right: 5px;
  font-family: 'Courier';
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 300ms, -webkit-transform 300ms, -ms-transform 300ms;
}
.test-results.test-detail:before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.test-collapsible {
  position: relative;
  overflow-y: hidden;
  white-space: nowrap;
  transition: height 300ms, margin-top 300ms;
  height: 0;
  width: 320px;
  background-color: #eee;
}
.test-results.test-detail .test-collapsible {
  height: 1.5em;
}
.test-collapsible .test-content {
  position: absolute;
  right: 0;
  bottom: 0;
}

.test-result-title {
  display: inline-block;
  font-weight: 500;
  padding: 0px;
}

.test-result {
  background-color: #bebebe;
  padding: 2px 5px;
  margin: 0px 5px;
  color: #F8FCFA;
  font-size: 12px;
  border-radius: 3px;
}

.test-result.test-color-0 {
  background-color: #ba5050;
}
.test-result.test-color-10 {
  background-color: #ba7a50;
}
.test-result.test-color-25 {
  background-color: #ba9f50;
}
.test-result.test-color-50 {
  background-color: #baba50;
}
.test-result.test-color-75 {
  background-color: #93ba50;
}
.test-result.test-color-100 {
  background-color: #50BB88;
}

.test-pip {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  padding: 0;
  margin: 0 1px;
  vertical-align: middle;
}

/* Fix some issues on small screens */
@media (max-width: 576px) {
    .test-results {
        float: none !important;
    }

    .navbar {
      width: 95% !important;
    }
}

section.row {
  padding: 0px;
}

.secondary-image {
  width: 160px;
  height: 160px;
  margin: 20px;
}

.tagline {
  justify-content: center;
  text-align: center;
}

.tagline-header {
  font-size: 18px;
}

dd, dl {
  margin-bottom: 25px;
}

dl {
  margin-left: 25px;
}

.menu-heading {
  color: #5A5886;
}
